.nav-mypage-contents {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-header-logo-box {
  margin-left: 3vw;
}

.nav-header-logo {
  object-fit: contain;
  max-height: 4vh;
  max-width: 4vh;
}

.username {
  margin-left: 2vw;
  margin-top: 5px;
  font-family: "LeferiPoint-BlackA";
}

@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}