.container-row {
    font-size: large;
    display: grid;
    width: 100%;
    gap: 20px;
    padding: 20px;
    place-content: space-between center;
}
.container {
    display: grid;
    width: 100%;
    place-content: space-between center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
}

.month {
    font-size: large;
    font-family: 'LeferiPoint-BlackA';
    justify-self: center;
}
.days {
    font-size: small;
    font-family: 'LeferiPoint-WhiteObliqueA';
    box-shadow: 10px;
    justify-self: center;
}
.date {
    font-size: small;
    font-family: 'LeferiPoint-WhiteObliqueA';
    box-shadow: 10px;
    justify-self: center;
}
.highlight{
    background-size: cover;
    font-family: 'LeferiPoint-BlackA';
    color : white;
    box-shadow: 10px;
    justify-self :center;
    width: 3vh; height: 3vh;
    border-radius: 50%;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
