.profile-box {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.profile-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
}

.profile-introduce {
  white-space: pre-line;
  margin: 20px 0 5% 0;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}
.info {
  height: 5vh;
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.num {
  font-family: 'LeferiPoint-BlackA';
  font-size: 18px;
}
.name {
  margin-top: 12%;
  font-size: 16px;
  font-family: 'LeferiBaseType-RegularA';
}

.profile-img {
  border-radius: 100%;
  height: 15vh;
  width: 15vh;
}

@media only screen and (max-width: 500px) {
  .profile-img {
    height: 10vh;
    width: 10vh;
  }
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.search-button, .modal-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-button button, .search-button button {
  width: 100%;
  font-family: "Pretendard-Regular";
  line-height: 140%;
  background-color: #fff7e7;
  border: none;
  border-radius: 50px;
  padding: 1vh;
  margin-bottom: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.search-button button {
  background-color: #D8EC84;
}

.search-button button:hover, .modal-button button:hover {
  box-shadow: 0 3px 2vh rgba(0, 0, 0, 0.2);
}

.search-button button:active, .modal-button button:active {
  margin-left: 3px;
  margin-top: 3px;
}

.search-box {
  position: relative;
  top: 0;
  width: 37vw;
  max-height: 50vh;
  padding: 1vw;
  margin-bottom: 5px;
  border: none;
  /* border-radius: 50px; */
}
.search-box input {
  border-radius: 50px;
}

.result-box {
  position: absolute;
  background-color: #FCFCFC;
  max-height: 45vh;
  width: 35vw;
  overflow: auto;
  border-radius: 20px;
  z-index: 20;
  padding: 1vw;
}

.result-box div {
  display: flex;
  /* max-width: 37vw;a */
  margin: 5px 0px;
}