.footer {
    position: absolute;
    height: 6vh;
    width: 100vw;
    bottom: 0px;
    
    font-family: 'establishRoomNo703OTF';
    color: antiquewhite;
    background-color: #131312;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}