header {
  position: static;
  background-color: #fff7e7;
}

.contents {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-box {
  margin-left: 48vw;
}

.header-logo {
  height: 4vh;
  width: 4vh;
}
.header-state {
  margin-top: 1vw;
  margin-right: 3vw;
    display: flex;
  justify-content: center;
  align-items: center;
}