header {
  position: static;
  background-color: #fff7e7;
}

.contents {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-box {
  margin-left: 46vw;
}

.header-logo {
  max-height: 4vh;
  max-width: 4vh;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-profile {
  margin-right: 1vw;
}

header nav {
  margin-top: 1vw;
  margin-right: 3vw;
}