.community-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  gap: 2vh;
}
.post-division  {
  height: 2em;
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 9px;
  padding: 3px 5px 3px 5px;
}
.post-division-click {
  height: 2em;
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 9px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}

.user-post-edit {
  font-family: "Pretendard-Regular";
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.community-frame-edit {
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.community-frame-edit:hover, .post-division-click:hover {
  background-color: #f5737f;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.community-delete {
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.community-delete:hover {
  background-color: #f5737f;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.community-body {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.community-body-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.community-body-profiles {
  display: flex;
  gap: 5px;
  margin-left: 2vw;
}

.community-body-for-test:nth-child(1) {
  z-index: 1;
  transform: scale(1.5);
}
.community-content {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .community-content {
    width: 92vw;
  }
}
.community-body-content img {
  /* max-height: 50vh; */
  max-width: 100%;
}
h6 {
  font-family: "LeferiPoint-BlackA";
}
.community-date {
  font-family: "Pretendard-Regular";
  margin: 0.5em 0 0.5em 0.5em;
}