.download-img {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.download-img img {
  min-width: 50vw;
  max-width: 100vw;
}

.download-links {
  display: flex;
  justify-content: space-around;
}

.download-links-item {
  font-family: 'Pretendard-Regular';
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 5px;
  z-index: 10;
  line-height: 140%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}
.download-links-item:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.download-links-item p {
  margin: 2px;
  pointer-events: none;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiBaseType-RegularA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}