.main-community {
    margin-top: 15px;
}

.gallery-tab {
    display: flex;
    justify-content: center;
}

.gallery-tab-btn {
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    border: none;
    background-color: #fff7e7;
    border-radius: 50px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
    z-index: 10;
    line-height: 140%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    cursor: pointer;
}

.gallery-tab-btn:hover {
    background-color: #f5737f
}