.community-carousel-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1em 2em 1em 2em;
}
@media only screen and (max-width: 500px) {
  .community-carousel-header {
    margin: 1em 1em 0 1em;
  }
}
.community-carousel-select {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.community-carousel-select-btn {
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 1em;
  cursor: pointer;
}
.community-carousel-select-btn:hover {
  background-color: #fff7e7;
}
.community-carousel-slider {
  margin: 0 2em 1em 2em;
}
@media only screen and (max-width: 500px) {
  .community-carousel-slider {
    margin: 0 1em 0 1em;
  }
}
.community-carousel-slider-img {
  width: 30vw;
  min-height: 10vh;
  max-height: 25vh;
  cursor: pointer;
}

h5 {
  font-family: "LeferiPoint-BlackA";
  letter-spacing: -1px;
}

.show-likedCnt {
  display: flex;
}
.show-likedCnt p {
  font-family: "Pretendard-Regular";
  margin-left: 4px;
  line-height: 180%;
  font-size: 14px;
}

.swiper-button-next {
  background: url("../../assets/UI/next-icon.png") no-repeat;
  background-size: 120% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url("../../assets/UI/previous-icon.png") no-repeat;
  background-size: 120% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 5px solid  #bebebe;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: transparent;
  border: 5px solid #ffc036;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
