h5 {
  font-family: "LeferiPoint-BlackA";
  letter-spacing: -1px;
}

.sub-tab-btn {
  font-family: "Pretendard-Regular";
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  padding: 5px, 15px;
  margin: 5px;
  z-index: 10;
  line-height: 140%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  cursor: pointer;
}
.sub-tab-btn:hover {
  background-color: #d8ec84;
}
.create-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-frame-btn {
  font-family: "Pretendard-Regular";
  border: none;
  background-color: #fff7e7;
  border-radius: 50px;
  margin: auto;
  line-height: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  margin: 5px;
  padding: 10px 15px 7px;
  cursor: pointer;
}
.create-frame-btn:hover {
  background-color: #ffd89e;
}

@media only screen and (max-width: 500px) {
  .create-frame-btn {
    font-size: smaller;
    padding: 10px 7px 8px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.icon-img {
  width: 1em;
  height: 1em;
  margin: 0 5px 0 0;
}
.community-list-select {
  display: flex;
  justify-content: center;
}

.photo-gallery {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}
.photo-gallery:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.photo-info-content {
  font-family: "Pretendard-Regular";
  line-height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1em;
}

.like-cnt-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.icon-img {
  width: 1em;
  height: 1em;
}

.photo-img {
  max-width: 100vw;
  aspect-ratio: 3 / 2;
}
.photo-img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
h3 {
  font-family: "LeferiPoint-BlackA";
  text-align: center;
  padding-top: 1em;
  padding-bottom: 5px;
  cursor: default;
}
@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
