.profile-header {
  width: 5vh;
  height: 5vh;
  margin: none;
  border-radius: 100%;
}

@media only screen and (max-width: 500px) {
  .profile-header {
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
  }
}

.profile {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile-header:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.profile-nickname {
  font-family: "Pretendard-Regular";
  display: none;
}
@media only screen and (max-width: 500px) {
  .profile-nickname {
    font-family: "Pretendard-Regular";
    display: none;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}